<header>
        <div id="headerbg">
        <div id="menu">
            <div id="cssmenu"><div id="indicatorContainer"><div id="pIndicator"><div id="cIndicator"></div></div></div>

            <ul><li id="menu-button"></li>
                <li class="active">
                    <a href="index.html#a1">Home</a></li>                    
                <li><a href="/menu">Menu</a></li>
                <li><a href="contact.html#a1">Contact</a></li>            
                          
            </ul>                            
            </div>
        </div>
        
        <div id="headerinn">
            <!-- <div id="catering"><a href="catering.html#a1"><img src="images/catering.png" alt="Catering Available"></a></div> -->
            <div id="logo"><a href="index.php"><img src="images/logo.png" alt="Covid Blue Family Restaurant &amp; Catering"></a>
            <div id="info">550 Main Street., West Orange, NJ<br>
        
        Phone: <a href="tel:973-396-2963" class="more">973-396-2963</a></div>
            <span class="style2">Serving Breakfast, Lunch &amp; Dinner</span><br>
        <img src="images/bar.png" alt="Covid Blues Family Restaurant &amp; Catering" vspace="20"><br>
        <span class="style2">Serving Breakfast All Day</span><br>
        <br>
                <!-- <a href="https://play.google.com/store/apps/details?id=com.ediningexpress.kingsfamilyrestaurant&amp;hl=en_US" target="_blank"><img src="images/googleplay.png" alt="Google Playstore"></a> &nbsp; <a href="https://www.ediningexpress.com/live20/system/html5_apps/853/" target="_blank"><img src="images/appled.png" alt="Apple Store"></a> -->
        </div>
            <!-- <div id="online"><a href="https://www.ediningexpress.com/live20/853/1582/"><img src="images/online.png" alt="Online Ordering Coming Soon!"></a></div> -->
            <div id="online"><a href="#"><img src="images/online.png" alt="Online Ordering Coming Soon!"></a></div>
            <div class="clear"></div>
        </div>    
    </div>
    </header>
    <a name="a1" id="a1"></a>
    <main>
    <!-- <div id="content">
    </div> -->

    <div class="container-fluid">
        <div class="row">
          <aside class="col-lg-3 bg-light">
            <h5 class="mt-1">Add a New Dish:</h5>
            <div class="form-inline form-group">
              {{#each Post}}
                      <h5>{{title}}</h5>
                      <p>{{body}}</p>      
              {{/each}}
            </div>
    
            <ul class="list-group history"></ul>
          </aside>
    
          <div class="col-lg-9">
            
          </div>
        </div>
      </div>
    </main>

    <!-- Footer  -->
    <footer>
        <div id="footer_bottom">
            <div id="footer_inn"><img src="images/logos.jpg" alt="Covid Blues Family Restaurant &amp; Catering" vspace="13">
              <br>
              550 Main Street., West Orange, NJ 07052  &nbsp;|&nbsp;  Phone: <a href="tel:973-396-2963">973-396-2963</a><br>
        
          </div>
        </div>
        </footer>
        <script src="js/jquery.rwdImageMaps.min.js" type="text/javascript"></script>
        <a href="#" class="back-to-top" style="display: block;"><img src="css/gt.png" alt="go to top"></a>