<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Covid Blues Family Restaurant &amp; Catering | Family Restaurant | Breakfast, Lunch, Dinner | Newark, NJ</title>
        <link rel="icon" href="#" type="image/png">
        
        <script type="text/javascript" src="js/jquery-latest.min.js"></script>
        <script type="text/javascript" src="js/menu_jquery.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" media="all">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" media="all">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="css/constyle.css" rel="stylesheet" type="text/css">
        <link href="css/conmedia.css" rel="stylesheet" type="text/css">
        <link href="css/conmenu.css" rel="stylesheet" type="text/css">
        <style data-styled="" data-styled-version="4.4.1"></style>
</head>
<body>
    {{{ body }}}
</body>
</html>