@charset "UTF-8";

@media screen and (max-width: 1280px){

	#banner_inn{width:95%;}
	#content_inn{width:95%;}
	#inner{width:95%;}
	#footer_inn{width:95%;}
	}
	

@media screen and (max-width: 1175px){
	#headerinn{width:95%;}
	#menu{width:90%;}
	
}

@media screen and (max-width: 980px){
	#menu{width:100%;}
		
	#contact_left{float:none; width:100%; margin:0 auto; padding-top:0px; }
	#contact_right{float:none; width:90%; margin:0 auto; padding-top:30px;}
	
	}

@media screen and (max-width: 640px){

	}
	
@media screen and (max-width: 480px){
	#info{ font-size:18px;}
	.style2{font-size:24px; line-height:30px;}
	}