*,*::after,*::before{
    box-sizing:content-box ;
 }
 /* *,*::after,*::before{
    box-sizing: border-box;
 } */

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Alex+Brush|Lobster');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Poppins:300,400,500,600,700');

body{margin:0px; font-family: 'Poppins', sans-serif; font-size:16px; color:#000; font-weight: normal; line-height:24px; background:#541815;}

a:link, a:active, a:visited{ color:#c0504b; font-weight: 600; text-decoration:underline; }
a:hover{color:#000; text-decoration:underline;}

a.more:link, a.more:active, a.more:visited{  font-weight:500; text-decoration:none;}
a.more:hover{ text-decoration:none;}

a.footermenu:link, a.footermenu:active, a.footermenu:visited { font-size:12px; color:#a56f6c; font-weight:700;  text-decoration:none;}
a.footermenu:hover{color: #fff;}

a.btnlink:link, a.btnlink:active, a.btnlink:visited { color: #fff; background: #85433b; padding: 8px 20px; font-weight:600;  text-decoration: none; text-transform:uppercase;}
a.btnlink:hover { background: #85433b; text-decoration: none;}

/*********
HEADER
******/
#headerbg {
    position: relative;
	background: url(../images/bg.jpg) center top;
	background-size:cover;
}

#menu{width:80%; margin:auto ;}

/****************/
#content{width:100%; background:url(../images/bg1.jpg) repeat-x #fffffe; height: 95%;}	
#inner{width:1200px; margin:0 auto; padding:45px 0;}

#contact_left{float:left; width:50%; padding-top:80px; text-align:center; }
#contact_right{float:right; width:40%; text-align:center; margin-right:5%; }


/*******
FOOTER
*********/
    #footer_bottom{width:100%; background:#541815; border-top:6px solid #fddd77; bottom: 0; padding: 0; margin-top: 0;}    
	#footer_inn{width:1280px; margin:0 auto; text-align:center; font-size:16px; line-height:15px; padding:10px 0 15px 0; color:#FFF; font-weight:600;}
    #footer-contributors {margin-top: 5px; text-align:center; color:bisque;}

/*******
STYLE
*********/
h1{ font-size:45px; line-height:40px; color:#85433b; font-weight:700; margin-top:0; text-transform:uppercase;}
.style1{font-size:24px; font-weight:600; color:#9a3d39; line-height:30px;}

/*******
MISC
*********/

.clear{clear:both;}
img{max-width:100%;}
a[href^=tel] { color: inherit; text-decoration: none; }


.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}